<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blogs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid row-background">
  <div class="row ">
    <div class="col-3 mt-3 mb-3" *ngFor="let post of posts | paginate: config">
      <div class="card">
        <div class="card-body" [ngClass]="post.showMore ?'remove-card-height':'apply-card-height'">
          <h5 class="card-title">{{post.title}}</h5>
          <p><span class="author">Author:</span> </p>
          <p class="card-text" *ngIf="post.body.length > 120 && !post.showMore">{{post.body.substring(0,120)}}</p>
          <p class="card-text" *ngIf="post.showMore">{{post.body}}</p>
          <div *ngIf="post.showMore">
            <div *ngFor="let comment of comments">
              <div class="comment-body ">
                <div class="comment-title">
                  {{comment.name}}
                  <span class="float-right">{{comment.updated_at | date: longDate}}</span>
                </div>
                <div class="comment-data">
                  {{comment.body}}
                </div>
              </div>
            </div>
            <div class="mt-2 float-right">
              <button type="button" class="btn btn-primary btn-sm btn-background" data-toggle="modal" data-target="#exampleModal">Add Comment</button>
            </div>
          </div>
          <a *ngIf="post.body.length > 120" href="#"
            (click)="post.showMore = !post.showMore; getComments(post.id)"><span class="read-more">{{post.showMore ? 'Read Less' : 'Read More'}}...</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-right">
    <pagination-controls (pageChange)="getPosts($event)" class="my-pagination"></pagination-controls>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <input class="form-control form-control-sm" type="text" placeholder="Please enter name" [(ngModel)]="user.name">
        <input class="form-control form-control-sm mt-4" type="text" placeholder="Please enter email" [(ngModel)]="user.email">
      </div>
      <div style="color: red; font-size: 14px; padding: 10px 15px;" *ngIf="errMsg">
        {{errMsg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="addComment()">Save changes</button>
        <button type="button" class="btn btn-secondary btn-sm m-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>